.Game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Game-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Game-grid-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}